.teacher-row {
  background: url("http://limpidthemes.com/Themeforest/html/Pathshala/Pathshala-HTML/assets/css/img/bg-img3.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding: 80px 0px;
}
.testimonials .card {
  border-color: lightgray;
}

.testimonials .card .card-footer {
  background: transparent;
  border: 0;
}

.testimonials .card:hover {
  transform: translateY(20px);
  transition: 0.5s;
}
