.footer-row {
  padding: 80px 0 0;
  background: url("../../Images/footer.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}
.footer-social-row {
  border-top: 1px solid #fff;
  padding: 30px 0;
  margin-top: 60px;
  text-align: center;
}
.footer-social-row a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  color: #fff;
  padding: 8px;
  margin: 0 8px;
  border-radius: 50%;
}
.school-logo h3 {
  margin: 10px 0 15px;
  font-weight: 800;
  letter-spacing: 1px;
}

.footer-item h5 {
  font-weight: 700;
  margin-bottom: 30px;
}
.footer-item {
  font-weight: 700;
  margin-bottom: 30px;
}
.footer-item .quick-link-box a {
  display: block;
  color: #fff;
  margin: 10px 0;
}
.footer-subscribe {
  border: 1px solid #fff;
}
.footer-subscribe input {
  border: none;
  background: transparent;
  border-left: 1px solid #fff;
  padding: 10px;
}
.subscribe-link {
  display: inline-block;
  margin: 20px 0px;
  padding: 10px 25px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}
